.headerBar {
  background-color:lightgrey;
background-image:
radial-gradient(circle at 100% 150%, lightgrey 24%, white 25%, white 28%, lightgrey 29%, lightgrey 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, lightgrey 24%, white 25%, white 28%, lightgrey 29%, lightgrey 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, lightgrey 11%, lightgrey 23%, white 24%, white 30%, lightgrey 31%, lightgrey 43%, white 44%, white 50%, lightgrey 51%, lightgrey 63%, white 64%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, lightgrey 6%, lightgrey 15%, white 16%, white 20%, lightgrey 21%, lightgrey 30%, white 31%, white 35%, lightgrey 36%, lightgrey 45%, white 46%, white 49%, transparent 50%, transparent),
radial-gradient(circle at 0    50%, white 5%, lightgrey 6%, lightgrey 15%, white 16%, white 20%, lightgrey 21%, lightgrey 30%, white 31%, white 35%, lightgrey 36%, lightgrey 45%, white 46%, white 49%, transparent 50%, transparent);
background-size:100px 50px;
}

.tagline {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  font-size: 5em;
  width: 100vw;
  margin: 0px;
}

.footer {
  font-family: 'Exo 2', sans-serif;
  color: grey;
  font-size: 1em;
  margin-top: 38vh;
}

.button {
  width:40vw;
}

@media only screen and (max-width: 768px) {
  [class="footer"] {
    visibility: hidden;
    margin: 0px;
  } [class="button"] {
    height: 20vh;
    width: 80vw;
  } h1 {
    font-size: 3em;
  }
}
